<h2>Formulario para crear tu lista de Celebrities favorita!</h2>

<form method="POST" action="/celebrities/create">

<div class="row g-3 align-items-center">

    <label for="name" class="col-form-label">Name</label>
    <input type="text" name="name" class="form-control">
    
    <label for="occupation" class="col-form-label">Occupation</label>
    <input type="text" name="occupation" class="form-control">

    <label for="catchPhrase" class="col-form-label">CatchPhrase</label>
    <input type="text" name="catchPhrase" class="form-control">

    <button class="btn btn-outline-success">Añadir Celebrity!</button>
</div>
</form>