<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href="/celebrities/create">Crea tu Celebrity!</a>
<br>
<a href="/celebrities">Ver tu lista de Celebrities</a>
<br>

<a href="/movies/create">crea tu movie</a>
<br>

<a href="/movies">Ver tu lista de Movies</a>