<h1>Noe and Eduard Site</h1>
<p id="home-description">Welcome to our Movie and Celebrity page!</p>

<div id="home-container">
<a href="/celebrities/create">Crea tu Celebrity!</a>

<a href="/celebrities">Ver tu lista de Celebrities</a>


<a href="/movies/create">crea tu movie</a>


<a href="/movies">Ver tu lista de Movies</a>
</div>